* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f7f6f0;
  --secondary-color: #ffffff;
  --gray-color: #505050;

  --text-h1: 48px;
  --text-h2: 32px;
  --text-h3: 16px;
  --text-h4: 14px;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: var(--text-h1);
}

h2 {
  font-size: var(--text-h2);
}

p {
  font-size: var(--text-p);
}

header {
  background-color: var(--secondary-color);
  padding: 20px 100px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 60px;
}

.nav-options {
  display: flex;
  list-style: none;
  gap: 26px;
}

.header-nav ul a {
  text-decoration: none;
  color: var(--gray-color);
}

.logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 158px;
}

.logo span {
  font-weight: 500;
}

.search {
  display: flex;
  position: relative;
}

.search input {
  height: 28px;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--primary-color);
}

.search-button button {
  position: absolute;
  right: 10px;
  top: 5px;
  background: none;
  border: none;
}

.icon {
  cursor: pointer;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

#hero .left,
#hero .right {
  display: inherit;
  gap: 20px;
}

#hero .mid {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero h2 {
  text-align: center;
}

#hero .mid p {
  width: 60%;
  height: auto;
  text-align: center;
}

#hero p::before {
  content: "";
  display: block;
  height: 1px;
  margin: 10px 0;
  background-color: black;
}

#collections-section h2 {
  text-align: center;
  font-size: var(--text-h1);
  margin: 60px 0;
}

#collections-section .collections-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.collections-items {
  display: flex;
  align-items: center;
}

.collection-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.collection-item figure img {
  margin-bottom: 10px;
}

.collection-item figcaption {
  font-size: var(--text-h2);
}

.collection-item button {
  background: #f7f6f0;
  border-radius: 20px;
  width: 118px;
  height: 48px;
  border: none;
  cursor: pointer;
}

#best-seller-section h2 {
  text-align: center;
  font-size: var(--text-h1);
  margin: 60px 0;
}

.best-seller-container {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.best-seller-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.best-seller-item figure {
  margin-bottom: 10px;
}

.products-section {
}

.products-section header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 0 0;
}

.products-section header h1 {
  margin-bottom: 24px;
}

.products-section header nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.products-section header nav a {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #f7f6f0;
  border-radius: 10px 10px 0px 0px;
  width: 100px;
  height: 60px;

  color: black;
  text-decoration: none;
  font-weight: 600;
}

.products-container-wrapper {
  display: flex;
  justify-content: center;
}

.products-container {
  background: #f7f6f0;
  border-radius: 10px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product-item {
  padding: 20px;
}

.product-item img {
  margin-bottom: 10px;
}

.product-item h2 {
  margin-bottom: 10px;
}

.product-item-info {
  text-align: center;
}

.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.product-detail .product-detail-wrapper {
  display: flex;
  gap: 16px;

  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 16px;
}

.product-detail .product-detail-wrapper div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-detail h2 {
  margin-bottom: 20px;
}

.login-form-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  background-color: var(--primary-color);

  width: 500px;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  padding-bottom: 30px;
  border-radius: 5px;
}

.login-form-wrapper a {
  color: black;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 600px;
  padding: 10px;
}

.login-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.login-form div input {
  width: 380px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

.login-form button {
  background: #ffffff;
  border-radius: 20px;
  width: 118px;
  height: 48px;
  border: none;
  cursor: pointer;

  margin-top: 20px;
}

.slogan {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.slogan h1 {
  font-size: 20px;
}

.slogan h2 {
  font-size: 18px;
}

.auth-message {
  width: 300px;
}

.auth-message h2 {
  text-align: center;
  margin-bottom: 10px;
}
